BasedOnStyle: Webkit
AccessModifierOffset: -2
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: OnePerLine
BreakAfterAttributes: Always
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeComma
ColumnLimit: 80
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
Cpp11BracedListStyle: true
FixNamespaceComments: true
IndentCaseLabels: false
IndentWidth: 2
InsertNewlineAtEOF: true
NamespaceIndentation: Inner
SeparateDefinitionBlocks: Always
SortIncludes: CaseSensitive
SortUsingDeclarations: LexicographicNumeric
SpaceInEmptyBlock: true
UseTab: Never
